body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to bottom, lightgreen, lime);
    font-family: sans-serif;
}

.container{
    box-sizing: border-box;
    text-align: center;
    background: rgba(255,255,255,.7);
    width: 90%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,.4);
}

.btn{
    padding: 8px;
    cursor: pointer;
    background-color: grey;
    text-transform: uppercase;
    border-radius: 5px;
    border: 1px solid rgb(170, 170, 170);
    font-size: 1rem;
    color: aliceblue;
}

.btn:hover{
    opacity: .9;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
}

.api-joke{
    font-size: 2rem;
    
}

